{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "arrowParens": "always",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.module.ts",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.entity.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
